*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --primary-font: "Roboto";
  --secondary-font: "Raleway";

  /* Color */

  --main-txt-color: #434455;
  --secondary-txt-color: #2e2f42;
  --light-color: #ffffff;

  --main-bg-color: #ffffff;
  --background-team: #ffffff;
  --color-portfolio: #4d5ae5;
  --background-portfolio-btn: #f4f4fd;
  --customers-color: #8e8f99;
  --background-icons-social: #404bbf;
  --background-icons-footer: #31d0aa;
  --background-modal-window: #fcfcfc;
  --background-btn-modal: #e7e9fc;
  --color-modal-label: #8e8f99;

  /* Others */
  --modal-index: 100;
}

.body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

/**
  |============================
  | Base style
  |============================
*/
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.contact-link:hover,
.contact-link:focus,
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/**
  |============================
  | Header style
  |============================
*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
  .header-container {
    display: flex;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.logo-main-link {
  display: flex;
  margin: 24px auto 22px 16px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
}
@media only screen and (min-width: 768px) {
  .logo-main-link {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .logo-main-link {
    margin-right: 76px;
  }
}

.header-logo-accent {
  color: var(--secondary-txt-color);
}

.nav-list {
  display: flex;
  gap: 40px;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-color);
}
@media only screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}
.nav-item {
  gap: 40px;
}
.nav-item:last-child {
  margin-right: 0px;
}
.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
  color: var(--secondary-txt-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
.nav-link.active::after {
  background-color: var(--background-icons-social);
}

.nav-link.active {
  color: var(--background-icons-social);
}

.contact {
  margin-left: auto;
  font-style: normal;
}
@media only screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}

.contact-list {
  display: flex;
  gap: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
}
@media only screen and (min-width: 768px) {
  .contact-list {
    font-size: 12px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
  }
}

.contact-link {
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
}
@media only screen and (min-width: 768px) {
  .contact-link {
    padding: 16px 16px 16px 0;
  }
}
@media only screen and (min-width: 1158px) {
  .contact-link {
    display: block;
  }
}

/**
  |============================
  | Mobile menu
  |============================
*/
.menu-toggle {
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  padding: 80px 35px 40px 40px;
  background-color: var(--light-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  min-height: 24px;
  min-width: 24px;
  border: 1px solid #e7e9fc;
}

.mobile-contacts {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  margin-bottom: 48px;
}
.mobile-tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-portfolio);
}
@media only screen and (max-width: 427px) {
  .mobile-tel {
    font-size: 7.8vw;
  }
}

.mobile-mailto {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 56px;
}
@media only screen and (max-width: 427px) {
  .mobile-socials {
    gap: 15%;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: auto;
}
.mobile-menu .mobile-link {
  display: block;
  padding: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-txt-color);
  text-decoration: none;
}
.mobile-studio-link {
  display: block;
  padding: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--background-icons-social);
}

/**
  |============================
  |Hero section style
  |============================
*/

.hero {
  padding: 112px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1440px;
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/mob-people-1@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/mob-people-2@2x.png);
  }
}

@media only screen and (min-width: 429px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tab-people-1@1x.png);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/tab-people-2@2x.png);
    }
  }
}
@media only screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/desk-people-1@1x.png);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/desk-people-2@2x.png);
    }
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }
}

.hero-title {
  display: inline-block;
  max-width: 496px;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--light-color);
}
@media only screen and (max-width: 767px) {
  .hero-title {
    max-width: 320px;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
  }
}
@media only screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 36px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-button {
  display: block;
  margin: 0 auto;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--light-color);
  min-width: 169px;
  height: 56px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  color: var(--background-portfolio-btn);
  background-color: var(--background-icons-social);
}

/**
  |============================
  | About section style
  |============================
*/

.about-section {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .about-section {
    padding: 120px 0;
  }
}

.about-title {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-color);
}
@media only screen and (min-width: 768px) {
  .about-title {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .about-title {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  row-gap: 72px;
  column-gap: 24px;
}

.about-item {
  width: 396px;
}

@media only screen and (min-width: 768px) {
  .about-item {
    width: 356px;
  }
}
@media only screen and (min-width: 1158px) {
  .about-item {
    width: 264px;
  }
}
.about-icon-container {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .about-icon-container {
    display: flex;
    margin-bottom: 8px;
    height: 112px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--background-portfolio-btn);
  }
  .about-img {
    fill: var(--secondary-txt-color);
  }
}

.about-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
}
@media only screen and (min-width: 1158px) {
  .about-text {
    font-weight: 400;
  }
}

/**
  |============================
  | work section style
  |============================
*/

.work-section {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .work-section {
    display: block;
    padding-bottom: 120px;
  }
  .work-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-txt-color);
  }
  .work-list {
    display: flex;
    gap: 24px;
  }
  .work-item {
    width: 360px;
  }

  .work-img {
    display: block;
    max-width: 100%;
    height: auto;
    padding-left: 0px;
    margin-right: 24px;
  }
  .work-img:last-child {
    margin-right: 0px;
  }
}

/**
  |============================
  | Team section style
  |============================
*/

.team-section {
  padding: 96px 0;
  background-color: #f4f4fd;
}

@media only screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }
}

.team-title-our {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-txt-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
  column-gap: 24px;
}
@media only screen and (min-width: 768px) {
  .team-list {
    row-gap: 64px;
  }
}

.team-item {
  width: 264px;
  background-color: #ffffff;
  border-radius: 6px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-color);
}
.team-box {
  padding: 32px 0;
  text-align: center;
}

.team-img {
  display: block;
  max-width: 100%;
  height: auto;
  padding-left: 0px;
  margin-right: 24px;
}
.team-img:last-child {
  margin-right: 0px;
}

.team-text {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
}

/**
  |============================
  | Social icons
  |============================
*/
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-portfolio);
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link.link:hover,
.social-link.link:focus {
  background-color: var(--background-icons-social);
}

.social-img {
  fill: var(--background-portfolio-btn);
}

/**
  |============================
  | Customers
  |============================
*/
.customers-section {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .customers-section {
    padding: 120px 0;
  }
}

.customers-title {
  margin-bottom: 72px;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-color);
  line-height: 1.1;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
  column-gap: 16px;
}
@media only screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
}
.customers-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
  border-radius: 4px;
}
@media only screen and (max-width: 767px) {
  .customers-item {
    width: 190px;
  }
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  color: var(--customers-color);
  border: 1px solid var(--customers-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  color: var(--background-icons-social);
  border-color: var(--background-icons-social);
}

.customers-img {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

/**
  |============================
  | Footer section style
  |============================
*/

.footer {
  padding: 96px 0;
  background: #2e2f42;
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
  column-gap: 24px;
  align-items: baseline;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    justify-content: flex-start;
    width: 582px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    justify-content: flex-start;
    width: 100%;
    column-gap: 0;
  }
}

@media only screen and (max-width: 767px) {
  .footer-container-logo {
    text-align: center;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container-logo {
    margin-right: 120px;
  }
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}

@media only screen and (max-width: 767px) {
  .footer-link {
    text-align: center;
  }
}
.logo-accent {
  font-family: var(--secondary-font);
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
@media only screen and (max-width: 767px) {
  .footer-text {
    text-align: start;
  }
}
.footer-social-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  min-width: 208px;
}
.footer-social-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
}
@media only screen and (max-width: 767px) {
  .footer-social-text {
    text-align: center;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-portfolio);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--background-icons-footer);
}
@media only screen and (max-width: 767px) {
  .footer-form-container {
    max-width: 398px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-form-container {
    min-width: 453px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-form-container {
    margin-left: auto;
  }
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer-field {
  padding-left: 16px;
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--light-color);
  background-color: var(--secondary-txt-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (max-width: 767px) {
  .footer-label {
    width: 100%;
  }
  .footer-field {
    width: 100%;
  }
}

.footer-field:focus {
  outline-color: var(--light-color);
  background-color: var(--secondary-txt-color);
}
.footer-field::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--light-color);
}

.footer-form-btn {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 165px;
  height: 40px;
  border: none;
  background-color: var(--color-portfolio);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  color: var(--light-color);
  background-color: var(--background-icons-social);
  outline-color: var(--color-portfolio);
}
.footer-form-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--light-color);
}
.footer-form-icon {
  width: 24px;
  height: 20px;
  fill: var(--light-color);
}

/**
  |============================
  | Modal window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  z-index: var(--modal-index);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  padding: 72px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  background-color: var(--background-modal-window);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (max-width: 427px) {
  .modal {
    width: calc(100% - 30px);
  }
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-btn-modal);

  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: var(--background-icons-social);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--light-color);
}
.modal-close-icon {
  fill: var(--secondary-txt-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--secondary-txt-color);
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-modal-label);
}
.form-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.form-field {
  padding: 0;
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--secondary-txt-color);
  background-color: var(--background-modal-window);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus {
  outline-color: var(--color-portfolio);
  background-color: var(--background-modal-window);
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--secondary-txt-color);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:focus + .form-icon {
  fill: var(--color-portfolio);
}
.form-comment {
  display: block;
  padding-top: 8px;
  padding-left: 16px;
  margin-bottom: 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--secondary-txt-color);
  background-color: var(--background-modal-window);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment:focus {
  outline-color: var(--color-portfolio);
  background-color: var(--background-modal-window);
}
.form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-agreement {
  display: flex;
  margin-bottom: 24px;
  gap: 8px;
}
.form-check-input {
  flex-shrink: 0;
  appearance: none;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  outline: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23FCFCFC'/%3E%3C/svg%3E");
  background-color: var(--color-portfolio);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-check-input:checked {
  background-color: var(--background-modal-window);
  outline-color: var(--color-portfolio);
}
.form-check-input:focus-visible {
  border-color: var(--color-portfolio);
}
.form-agreement-text {
  user-select: none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--color-modal-label);
}
.form-agreement-link {
  color: var(--color-portfolio);
  outline-color: var(--color-portfolio);
}
.form-btn {
  display: block;
  margin: 0 auto;
  width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  border: none;
  color: var(--light-color);
  background: var(--color-portfolio);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus {
  color: var(--light-color);
  background-color: var(--background-icons-social);
  outline-color: var(--color-portfolio);
}

/**
  |============================
  | Portfolio style
  |============================
*/

/**
  |============================
  | Header section style
  |============================
*/

/* .page-header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  box-shadow: 0px, 1px rgba(46, 47, 66, 0.08);
}

.nav {
  display: flex;
}

.logo-main-link {
  margin-right: 76px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
}

.header-logo-accent {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  color: var(--secondary-txt-color);
}

.nav-list {
  display: flex;
  gap: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-color);
}

.contact {
  font-style: normal;
}

.contact-list {
  gap: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
} */

/**
  |============================
  | Portfolio section style
  |============================
*/

/* .portfolio-section {
  padding: 96px 0 120px;
  background: var(--main-bg-color);
}

.portfolio-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-color);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  gap: 24px;
  width: calc((100% - 48px) / 3);
}

.portfolio-list-btn {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  gap: 24px;
}

.portfolio-button {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-portfolio);
  background: var(--background-portfolio-btn);
  font-family: "Roboto", sans-serif;
  box-shadow: 0px, 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover,
.portfolio-button:focus {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #404bbf;
}
.portfolio-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-img {
  display: block;
  border-top: none;
  padding-left: 0px;
  margin-right: 24px;
  max-width: 100%;
  height: auto;
} */

/**
  |============================
  | Overlay
  |============================
*/

/* .overlay-text {
  position: absolute;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  color: var(--background-portfolio-btn);
  background-color: var(--color-portfolio);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .overlay-text,
.portfolio-link:focus .overlay-text {
  transform: translateY(0%);
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
}
.portfolio-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
} */

/**
  |============================
  | Footer section style
  |============================
*/
/* .footer {
  background: #2e2f42;
}
.footer-link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-accent {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
} */
